<div class = "flex flex-col dark:bg-white px-5 pb-5 pt-1 rounded-lg">
    <div class=" container mx-auto py-4">
        <form class=" flex group relative" action="/customer/customer_search" method="get">
                        {{!-- <svg width="20" height="20" fill="currentColor" class="absolute left-3 top-1/2 -mt-2.5 text-slate-400 pointer-events-none group-focus-within:text-gray-500" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" />
                        </svg> --}}
                        <input id="customer_search" name="customer_search" class="focus:ring-2 ml-2 focus:ring-gray-500 focus:outline-none appearance-none w-10/12 text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2  pl-10 pr-4 ring-1 ring-slate-200 shadow-sm truncate" type="text" aria-label="Filter projects" placeholder="Search ...">
                        <button type="submit" class="font-bold bg-gray-200 w-1/12 mx-2 rounded-lg">
                                <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        {{!-- <button onclick="location.href='/admin/customer_seacrh_{{customer._id}}'" type="button" class=" font-bold bg-gray-200 text-green-600 w-1/12 mx-2 rounded-lg">
                                 All
                        </button> --}}
            </form>
    </div>
    <div class="relative shadow-md sm:rounded-lg  overflow-y-auto dark:bg-white ">
        <table class="w-full text-left rtl:text-right">
            <thead class=" text-xm text-gray-700  uppercase bg-gray-200 dark:bg-gray-700 ">
                <tr>
                    <th scope="col" class="p-4">
                        <div class="flex items-center">
                            <input id="select_all" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="checkbox-all-search" class="sr-only">checkbox</label>
                        </div>
                    </th>
                    <th scope="col" class=" py-3">
                        ID
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Email
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Phone
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Account Created
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <td><input type="checkbox"></td>
                        <td>{{ sum @index 1}}</td>
                        <td>{{this.customer_name}}</td>
                        <td>{{this.customer_email}}</td>
                        <td>{{this.customer_phone}}</td>
                        <td>{{this.createdAt}}</td>
                    </tr>
                {{/each}}
            </tbody>
            <tbody>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <td><input type="checkbox"></td>
                        <td>{{ sum @index 1}}</td>
                        <td>{{dataSearch.customer_name}}</td>
                        <td>{{dataSearch.customer_email}}</td>
                        <td>{{dataSearch.customer_phone}}</td>
                        <td>{{dataSearch.createdAt}}</td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
document.getElementById('select_all').addEventListener('change', function() {
const checkboxes = document.querySelectorAll('input[type="checkbox"]');
for (const checkbox of checkboxes) {
    checkbox.checked = this.checked;
    }
});
</script>
